<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login page</title>
</head>
<body>
    <form>
        <label for="firstname">First name: </label>
        <input type="text" name="firstname">
        <br>
        <label for="lastname">Last name: </label>
        <input type="text" name="lastname">
        <br>
        <label for="email">email: </label>
        <input type="email" name="email">
        <br>
        <label for="password">password: </label>
        <input type="password" name="password">
        <br>
        <input type="submit" value="Login!">
    </form>
</body>
</html>